 body {
  margin: 0;
  padding: 0;
}

.pkhCardDynamic{
  font-style: arial;
  color: #303535;
  font-size: 35px; 
}

.boldText{
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

#background 
{ 
 left: 0px; 
 top: 0px; 
 position: relative; 
 margin-left: auto; 
 margin-right: auto; 
 width: 1011px;
 height: 638px; 
 overflow: hidden;
 z-index:0;
} 

#Layer1 
{ 
 left: 0px; 
 top: 0px; 
 position: absolute; 
 width: 1011px;
 height: 528px;
 z-index:1;
} 

#Layer8 
{ 
 left: 30px; 
 top: 275px; 
 position: absolute; 
 width: 300px;
 height: 300px;
 z-index:2;
} 

#Logo 
{ 
 left: 30px; 
 top: 41px; 
 position: absolute; 
 width: 198px;
 height: 167px;
 z-index:3;
} 

#M 
{ 
 left: 292px; 
 top: 438px; 
 position: absolute; 
 width: 240px;
 height: 37px;
 z-index:4;
} 

@font-face {
 font-family: "Kalimati Regular";
 src: url("../lib/fonts/KalimatiRegular.ttf") format("truetype");
 /**/
 /*src:  url("../fonts/KalimatiRegular.ttf") format("truetype");*/
}
.nepKalimati {
  font-family: 'Kalimati Regular' !important;
}

.card-font{
  font-size: 1.7em;
  font-weight: bold;
}

#citizenNumber 
{ 
  left: 52px;
  top: 550px;
  position: absolute; 
  width: 100%;
  height: 37px;
  z-index:4;
} 

#Logocopy 
{ 
 left: 402px; 
 top: 275px; 
 position: absolute; 
 width: 213px;
 height: 182px;
 z-index:5;
} 

#M_0 
{ 
 left: 291px; 
 top: 297px; 
 position: absolute; 
 width: 88px;
 height: 25px;
 z-index:6;
} 

#SaritaThapa 
{ 
 left: 406px; 
 top: 291px; 
 position: absolute; 
 width: 100%;
 height: 31px;
 z-index:7;
} 

#M_1 
{ 
 left: 290px; 
 top: 361px; 
 position: absolute; 
 width: 134px;
 height: 35px;
 z-index:8;
} 

#layer_9 
{ 
  left: 552px;
  top: 431px;
  position: absolute; 
  width: 54px;
  height: 27px;
  z-index:9;
} 

#copy 
{ 
  left: 438px;
  top: 354px;
  position: absolute; 
  width: 171px;
  height: 27px;
  z-index:10;
} 

#Layer7 
{ 
 left: 844px; 
 top: 35px; 
 position: absolute; 
 width: 140px;
 height: 170px;
 z-index:11;
} 

#Layer6 
{ 
 left: 766px; 
 top: 285px; 
 position: absolute; 
 width: 211px;
 height: 233px;
 z-index:12;
} 

#kfvfdxfgukflnsf 
{ 
 left: 256px; 
 top: 13px; 
 position: absolute; 
 width: 496px;
 height: 56px;
 z-index:13;
} 

#gj8fsfofno 
{ 
 left: 343px; 
 top: 73px; 
 position: absolute; 
 width: 327px;
 height: 42px;
 z-index:14;
} 

#s39xF8sfsL 
{ 
 left: 410px; 
 top: 120px; 
 position: absolute; 
 width: 192px;
 height: 41px;
 z-index:15;
} 

#u08sLkbzgkfn 
{ 
 left: 368px; 
 top: 162px; 
 position: absolute; 
 width: 273px;
 height: 38px;
 z-index:16;
} 

#Rectangle1 
{ 
 left: -1px; 
 top: 215px; 
 position: absolute; 
 width: 1013px;
 height: 28px;
 z-index:17;
} 

#Smartidentitycard 
{ 
 left: 410px; 
 top: 224px; 
 position: absolute; 
 width: 189px;
 height: 12px;
 z-index:18;
} 


/*

#background 
{ 
 left: 0px; 
 top: 0px; 
 position: relative; 
 margin-left: auto; 
 margin-right: auto; 
 width: 1011px;
 height: 638px; 
 overflow: hidden;
 z-index:0;
} 

#Layer1 
{ 
 left: 0px; 
 top: 0px; 
 position: absolute; 
 width: 1011px;
 height: 638px;
 z-index:1;
} 

#Logo 
{ 
 left: 59px; 
 top: 32px; 
 position: absolute; 
 width: 183px;
 height: 157px;
 z-index:2;
} 

#Logocopy 
{ 
 left: 399px; 
 top: 283px; 
 position: absolute; 
 width: 213px;
 height: 182px;
 z-index:3;
} 

#NAME 
{ 
 left: 73px; 
 top: 259px; 
 position: absolute; 
 width: 261px;
 height: 22px;
 z-index:4;
} 

#SaritaThapa 
{ 
 left: 353px; 
 top: 250px; 
 position: absolute; 
 width: 100%;
 height: 27px;
 z-index:5;
} 

#FATHERSNAME 
{ 
  left: 71px;
  top: 322px;
  position: absolute; 
  width: 264px;
  height: 22px;
  z-index:6;
} 

#MOTHERSNAME 
{ 
 left: 74px; 
 top: 399px; 
 position: absolute; 
 width: 268px;
 height: 22px;
 z-index:7;
} 

#GangaramThapa 
{ 
 left: 352px; 
 top: 324px; 
 position: absolute; 
 width: 226px;
 height: 27px;
 z-index:8;
} 

#SangitaThapa 
{ 
 left: 352px; 
 top: 400px; 
 position: absolute; 
 width: 187px;
 height: 27px;
 z-index:9;
} 

#DateofBirth 
{ 
 left: 155px; 
 top: 461px; 
 position: absolute; 
 width: 144px;
 height: 19px;
 z-index:10;
} 

#layer_17031990 
{ 
 left: 152px; 
 top: 485px; 
 position: absolute; 
 width: 100%;
 height: 21px;
 z-index:11;
} 

#IDNo 
{ 
 left: 154px; 
 top: 533px; 
 position: absolute; 
 width: 71px;
 height: 19px;
 z-index:12;
} 

#Flag 
{ 
 left: 154px; 
 top: 565px; 
 position: absolute; 
 width: 196px;
 height: 21px;
 z-index:13;
} 

#Layer7 
{ 
 left: 844px; 
 top: 30px; 
 position: absolute; 
 width: 140px;
 height: 170px;
 z-index:14;
} 

#Layer6 
{ 
 left: 774px; 
 top: 246px; 
 position: absolute; 
 width: 180px;
 height: 199px;
 z-index:15;
} 

#kfvfdxfgukflnsf 
{ 
 left: 298px; 
 top: 27px; 
 position: absolute; 
 width: 413px;
 height: 45px;
 z-index:16;
} 

#gj8fsfofno 
{ 
 left: 393px; 
 top: 87px; 
 position: absolute; 
 width: 226px;
 height: 29px;
 z-index:17;
} 

#s39xF8sfsL 
{ 
 left: 429px; 
 top: 129px; 
 position: absolute; 
 width: 156px;
 height: 34px;
 z-index:18;
} 

#u08sLkbzgkfn 
{ 
 left: 406px; 
 top: 170px; 
 position: absolute; 
 width: 199px;
 height: 28px;
 z-index:19;
} 

#Layer5 
{ 
  left: 769px;
  top: 444px;
  position: absolute; 
  width: 135px;
  height: 135px;
  z-index:20;
} 

#Rectangle1 
{ 
 left: -1px; 
 top: 215px; 
 position: absolute; 
 width: 1013px;
 height: 28px;
 z-index:21;
} 

#Smartidentitycard 
{ 
 left: 410px; 
 top: 221px; 
 position: absolute; 
 width: 189px;
 height: 12px;
 z-index:22;
} 

#CitizenshipNo 
{ 
 left: 493px; 
 top: 455px; 
 position: absolute; 
 width: 175px;
 height: 24px;
 z-index:23;
} 

#layer_280306598675 
{ 
 left: 494px; 
 top: 486px; 
 position: absolute; 
 width: 223px;
 height: 21px;
 z-index:24;
} 



*/



/*body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
   left: 0px; 
   top: 0px; 
   position: relative; 
   margin-left: auto; 
   margin-right: auto; 
   width: 1011px;
   height: 638px; 
   overflow: hidden;
   z-index:0;
  } 

 #Layer1 
{ 
   left: 0px; 
   top: 0px; 
   position: absolute; 
   width: 1011px;
   height: 638px;
   z-index:1;
} 

 #Logo 
{ 
   left: 59px; 
   top: 46px; 
   position: absolute; 
   width: 183px;
   height: 157px;
   z-index:2;
} 

 #Logocopy 
{ 
   left: 399px; 
   top: 283px; 
   position: absolute; 
   width: 213px;
   height: 182px;
   z-index:3;
} 

 #NAME 
{ 
   left: 197px; 
   top: 255px; 
   position: absolute; 
   width: 101px;
   height: 22px;
   z-index:4;
} 

 #SaritaThapa 
{ 
   left: 311px; 
   top: 258px; 
   position: absolute; 
   width: 164px;
   height: 27px;
   z-index:5;
} 

 #FATHERNAME 
{ 
   left: 72px; 
   top: 321px; 
   position: absolute; 
   width: 228px;
   height: 22px;
   z-index:6;
} 

 #MOTHERNAME 
{ 
   left: 55px; 
   top: 399px; 
   position: absolute; 
   width: 241px;
   height: 22px;
   z-index:7;
} 

 #GangaramThapa 
{ 
   left: 316px; 
   top: 322px; 
   position: absolute; 
   width: 226px;
   height: 27px;
   z-index:8;
} 

 #SangitaThapa 
{ 
   left: 317px; 
   top: 400px; 
   position: absolute; 
   width: 187px;
   height: 27px;
   z-index:9;
} 

 #DateofBirth 
{ 
   left: 152px; 
   top: 457px; 
   position: absolute; 
   width: 144px;
   height: 19px;
   z-index:10;
} 

 #layer_17031990 
{ 
   left: 152px; 
   top: 485px; 
   position: absolute; 
   width: 145px;
   height: 21px;
   z-index:11;
} 

 #IDNo 
{ 
   left: 154px; 
   top: 533px; 
   position: absolute; 
   width: 71px;
   height: 19px;
   z-index:12;
} 

 #layer_01012018862 
{ 
   left: 154px; 
   top: 565px; 
   position: absolute; 
   width: 196px;
   height: 21px;
   z-index:13;
} 

 #Flag 
{ 
   left: 846px; 
   top: 36px; 
   position: absolute; 
   width: 138px;
   height: 171px;
   z-index:14;
} 

 #Layer4 
{ 
   left: 774px; 
   top: 258px; 
   position: absolute; 
   width: 180px;
   height: 199px;
   z-index:15;
} 

 #pOKHARAmetropolitan 
{ 
   left: 273px; 
   top: 44px; 
   position: absolute; 
   width: 498px;
   height: 28px;
   z-index:16;
} 

 #Wardno12Office 
{ 
   left: 366px; 
   top: 101px; 
   position: absolute; 
   width: 308px;
   height: 22px;
   z-index:17;
} 

 #Kuhadarkaski 
{ 
   left: 392px; 
   top: 144px; 
   position: absolute; 
   width: 252px;
   height: 26px;
   z-index:18;
} 

 #GandakiProvinceNepal 
{ 
   left: 310px; 
   top: 181px; 
   position: absolute; 
   width: 417px;
   height: 26px;
   z-index:19;
} 

 #Layer5 
{ 
   left: 794px; 
   top: 466px; 
   position: absolute; 
   width: 135px;
   height: 135px;
   z-index:20;
} 

 #Rectangle1 
{ 
   left: -1px; 
   top: 215px; 
   position: absolute; 
   width: 1013px;
   height: 28px;
   z-index:21;
} 

 #Smartidentitycard 
{ 
   left: 418px; 
   top: 225px; 
   position: absolute; 
   width: 198px;
   height: 13px;
   z-index:22;
} 

 #CitizenshipNo 
{ 
   left: 484px; 
   top: 453px; 
   position: absolute; 
   width: 175px;
   height: 24px;
   z-index:23;
} 

 #layer_280306598675 
{ 
   left: 485px; 
   top: 484px; 
   position: absolute; 
   width: 223px;
   height: 21px;
   z-index:24;
} 



*/

/* body {
     margin: 0;
     padding: 0;
 }
 
 #background 
{ 
      left: 0px; 
      top: 0px; 
      position: relative; 
      margin-left: auto; 
      margin-right: auto; 
      width: 1011px;
      height: 638px; 
      overflow: hidden;
      z-index:0;
     } 

 #Layer1 
{ 
      left: 0px; 
      top: 0px; 
      position: absolute; 
      width: 1011px;
      height: 638px;
      z-index:1;
} 

 #curve 
{ 
      left: -305px; 
      top: 357px; 
      position: absolute; 
      width: 1586px;
      height: 547px;
      z-index:2;
} 

 #mountainbg 
{ 
      left: -55px; 
      top: 0px; 
      position: absolute; 
      width: 1121px;
      height: 123px;
      z-index:3;
} 

 #Logo 
{ 
      left: 53px; 
      top: 16px; 
      position: absolute; 
      width: 117px;
      height: 100px;
      z-index:4;
} 

 #Logocopy 
{ 
      left: 399px; 
      top: 228px; 
      position: absolute; 
      width: 213px;
      height: 182px;
      z-index:5;
} 

 #WARD13Smartidentityc 
{ 
      left: 378px; 
      top: 133px; 
      position: absolute; 
      width: 281px;
      height: 13px;
      z-index:6;
} 

 #NAMESaritaThapa 
{ 
      left: 301px; 
      top: 169px; 
      position: absolute; 
      width: 164px;
      height: 62px;
      z-index:7;
} 

 #DateofBirth17031990 
{ 
      left: 303px; 
      top: 448px; 
      position: absolute; 
      width: 144px;
      height: 48px;
      z-index:8;
} 

 #IDNo01012018862 
{ 
      left: 58px; 
      top: 409px; 
      position: absolute; 
      width: 168px;
      height: 48px;
      z-index:9;
} 

 #FATHERSNAMEHariThapa 
{ 
      left: 302px; 
      top: 270px; 
      position: absolute; 
      width: 238px;
      height: 62px;
      z-index:10;
} 

 #MOTHERSNAMESangitaTh 
{ 
      left: 300px; 
      top: 359px; 
      position: absolute; 
      width: 253px;
      height: 62px;
      z-index:11;
} 

 #Flag 
{ 
      left: 865px; 
      top: 7px; 
      position: absolute; 
      width: 88px;
      height: 109px;
      z-index:12;
} 

 #Layer4 
{ 
      left: 675px; 
      top: 170px; 
      position: absolute; 
      width: 282px;
      height: 363px;
      z-index:13;
} 

 #pOKHARAmetropolitan 
{ 
      left: 300px; 
      top: 37px; 
      position: absolute; 
      width: 443px;
      height: 25px;
      z-index:14;
} 

 #PROVINCEGANDAKI 
{ 
      left: 390px; 
      top: 86px; 
      position: absolute; 
      width: 257px;
      height: 19px;
      z-index:15;
} 

 #Layer5 
{ 
      left: 39px; 
      top: 180px; 
      position: absolute; 
      width: 222px;
      height: 222px;
      z-index:16;
} 

 #CitizenshipNo2803065 
{ 
      left: 300px; 
      top: 526px; 
      position: absolute; 
      width: 160px;
      height: 40px;
      z-index:17;
      } */
/*body {
    margin: 0;
    padding: 0;
}
.align-btn{
     position: absolute;
     left: 450px;
}
 
  #background 
{ 
     left: 0px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 324px;
     height: 205px; 
     overflow: hidden;
     z-index:0;
     background-color: black;
    }  

 #Layer0 
{ 
     left: 493px; 
     top: 171px; 
     position: absolute; 
     height: 64px;
     z-index:1;
} 

 #Layer0_0 
{ 
     left: 0px; 
     top: -1px; 
     position: absolute; 
     
     height: 639px;
     z-index:2;
} 

 #Issuedbyborder > img
{ 
     left: 8px; 
     top: 161px; 
     position: absolute; 
     width: 96px;
     height: 27px;
     z-index:3;
} 

 #signatureborder > img
{ 
     left: 226px; 
     top: 161px; 
     position: absolute;
     width: 96px; 
     height: 27px;
     z-index:4;
} 

 #nepalgovernment > img
{ 
     left: 8px; 
     top: 5px; 
     position: absolute; 
     width: 29px;
     height: 29px;
     z-index:5;
} 

 #watermark >img
{ 
     left: 137px; 
     top: 60px; 
     position: absolute; 
     width: 116px;
     height: 94px;
     z-index:6;
} 

 #Flag > img
{ 
     left: 293px; 
     top: 5px; 
     position: absolute;
     width: 29px; 
      height: 29px;
     z-index:7;
} 

 #map > img 
{ 
     left: 138px; 
     top: 161px; 
     position: absolute;
     width: 50px; 
         height: 24px;
     z-index:8;
} 

 #signature > img
{ 
     left: 24px; 
     top: 165px; 
     position: absolute;
     width: 66px; 
     height: 20px;
     z-index:9;
} 

 #signature_0 > img
{ 
    left: 275px;
    top: 160px;
    position: absolute;
    width: 40px;
    height: auto;
    z-index: 5;
} 

 #Picture > img
{ 
     left: 8px; 
     top: 61px; 
     position: absolute; 
     width: 80px;
     height: 80px;
     z-index:11;
} 

 #Smartidentitycard > img 
{ 
     left: 78px; 
     top: 24px; 
     position: absolute;
     width: 177px; 
     height: 8px;
     z-index:12;
} 

 #CardNo010600045334 > p
{ 
     left: 8px; 
     top: 37px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:13;
} 

 #IssuedBy > img
{ 
     left: 33px; 
     top: 189px; 
     position: absolute; 
     width: 55px;
     height: 13px;
     z-index:15;
} 

 #SignatureofHolder > img
{ 
     left: 237px; 
    top: 189px; 
     position: absolute; 
     width: 79px;
     height: 13px;
     z-index: 15;
} 

 #Governmentofnepal > img
{ 
     left: 48px; 
     top: 9px; 
     position: absolute; 
     width: 236px;
    height: 13px;
     z-index:18;
} 

 #NameRAMBAHADURSHARMA > p
{ 
     left: 120px; 
     top: 37px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:19;
} 

 #DOB09061990 > p
{ 
     left: 120px; 
     top: 81px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:20;
} 

 #FHNameHariSharma > p
{ 
     left: 120px; 
     top: 96px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:21;
} 

 #CitizenshipNo2803065 > p
{ 
     left: 120px; 
     top: 110px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:22;
} 

 #PassportNo2803065986 > p
{ 
     left: 120px; 
     top: 125px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:23;
} 

 #PhoneNo9812345678 > p
{ 
     left: 120px; 
     top: 140px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:24;
} 

 #AddressBaneshowr06 > p
{ 
     left: 120px; 
     top: 50px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:25;
} 
#location{
    padding-left: 25px;
}*/