.select.control {
    background: #262936;
    border-radius: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    position: relative;
}

.select.control:after {
    content: " ";
    width: 7px;
    height: 9px;
    background: url(images/arrow-down.html);
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    z-index: 1;
}

.select.control select {
    padding: 10px 30px;
    width: 110%;
    border: none;
    background: none;
    outline: none;
    -webkit-appearance: none;
    color: white;
}
.table thead tr th td{
    font-size: 12px;
    font-weight: 400;
}
/**************************************
			5. THEME CHANGE WINDOW
            ***************************************/
            .control-sidebar-btn.btn {
                position: absolute;
                left: -53px;
                padding: 25px;
                z-index: 999;
                border-radius: 100%;
                width: 35px;
                height: 35px;
                font-size: 18px;
                color: #fff;
                border-color: #2f323e;
                background-color: #2f323e;
                margin: 0;
            }
            .control-sidebar-btn i {
                position: absolute;
                top: 18px;
                left: 15px;
            }
            .display-none{
               display: none;
           }
           .control-sidebar-btn.btn {
            position: absolute;
            left: -53px;
            padding: 25px;
            z-index: 999;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            font-size: 18px;
            color: #fff;
            border-color: #2f323e;
            background-color: #2f323e;
            margin: 0;
        }
        .control-sidebar-btn i {
            position: absolute;
            top: 18px;
            left: 15px;
        }
        .quick-setting-main {
            float: left;
            position: fixed;
            top: 25%;
            z-index: 99999;
            right: 0;
        }
        .quick-setting {
            float: left;
            background-color: #eee;
            border: 5px solid #ddd;
            display: none;
            margin-top: -15px;
            max-width: 380px;
            padding: 20px;
        }
        .quick-setting ul#themecolors li {
            list-style: none;
        }
        .quick-setting ul#themecolors {
            padding: 0;
            margin: 0;
            float: left;
            width: 100%;
            max-width: 330px;
        }
        .quick-setting ul#themecolors li a {
            width: 32px;
            height: 32px;
            display: inline-block;
            margin: 5px;
            color: transparent;
            position: relative;
            background-color: #EAEEF3; 
        }
        .quick-setting ul#themecolors li a.green-theme {
            background-color: #0f0;
        }
        .quick-setting ul#themecolors li a.turquoise {
            background-color: #00c5cd;
        }
        .theme-color a {
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            margin: 5px 8px 5px 0;
            -webkit-box-shadow: 0.4px 0.9px 3px 0 rgba(0,0,0,0.33);
            box-shadow: 0.4px 0.9px 3px 0 rgba(0,0,0,0.33);
            overflow: hidden;
            width: 45px;
            height: 40px;
        }
        .theme-color a[data-theme="white"] .head:before,
        .theme-color a[data-theme="white"] .head:after,
        .theme-color a[data-theme="dark"] .head:before,
        .theme-color a[data-theme="blue"] .head:before,
        .theme-color a[data-theme="indigo"] .head:before,
        .theme-color a[data-theme="red"] .head:before,
        .theme-color a[data-theme="cyan"] .head:before,
        .theme-color a[data-theme="logo-white"] .head:before,
        .theme-color a[data-theme="logo-white"] .head:after,
        .theme-color a[data-theme="logo-dark"] .head:before,
        .theme-color a[data-theme="logo-blue"] .head:before,
        .theme-color a[data-theme="logo-indigo"] .head:before,
        .theme-color a[data-theme="logo-cyan"] .head:before,
        .theme-color a[data-theme="logo-green"] .head:before,
        .theme-color a[data-theme="logo-red"] .head:before,
        .theme-color a[data-theme="header-white"] .head:before,
        .theme-color a[data-theme="header-white"] .head:after{
            background: #fff;
        }
        .theme-color a[data-theme="white"] .cont:after{
            background: #fff;
        }
        .theme-color a[data-theme="dark"] .cont:after,
        .theme-color a[data-theme="header-dark"] .head:before,
        .theme-color a[data-theme="header-dark"] .head:after{
            background: #303548;
        }
        .theme-color a[data-theme="blue"] .cont:after,
        .theme-color a[data-theme="blue"] .head:after,
        .theme-color a[data-theme="logo-blue"] .head:after,
        .theme-color a[data-theme="header-blue"] .head:before,
        .theme-color a[data-theme="header-blue"] .head:after{
            background: #5093EB;
        }
        .theme-color a[data-theme="indigo"] .cont:after,
        .theme-color a[data-theme="indigo"] .head:after,
        .theme-color a[data-theme="logo-indigo"] .head:after,
        .theme-color a[data-theme="header-indigo"] .head:before,
        .theme-color a[data-theme="header-indigo"] .head:after{
           background: #6673FC;
       }
       .theme-color a[data-theme="cyan"] .cont:after,
       .theme-color a[data-theme="cyan"] .head:after,
       .theme-color a[data-theme="logo-cyan"] .head:after,
       .theme-color a[data-theme="header-cyan"] .head:before,
       .theme-color a[data-theme="header-cyan"] .head:after{
           background: #4ABAD2;
       }
       .theme-color a[data-theme="green"] .cont:after,
       .theme-color a[data-theme="green"] .head:after,
       .theme-color a[data-theme="logo-green"] .head:after,
       .theme-color a[data-theme="header-green"] .head:before,
       .theme-color a[data-theme="header-green"] .head:after{
           background: #49D075;
       }
       .theme-color a[data-theme="red"] .cont:after,
       .theme-color a[data-theme="red"] .head:after,
       .theme-color a[data-theme="logo-red"] .head:after,
       .theme-color a[data-theme="header-red"] .head:before,
       .theme-color a[data-theme="header-red"] .head:after{
           background: #E44F56;
       }
       .theme-color a[data-theme="dark"] .head:after,
       .theme-color a[data-theme="logo-dark"] .head:after{
        background: #303548;
    }
    .layout-theme a[data-theme="dark"] .cont{
       background: #464545;
   }
   .layout-theme a[data-theme="dark"] .head:before{
       background: #242b3a;
   }
   .layout-theme a[data-theme="light"] .cont{
       background: #ffffff;
   }
   .layout-theme a[data-theme="light"] .head:before{
       background: #ffffff;
   }
   .layout-theme a[data-theme="light"] .head:after{
       background: #6673FC;
   }

   .theme-color a .head {
    height: 10px;
}
.theme-color a .cont, .theme-color a .head {
    display: block;
    position: relative;
}
.theme-color a .cont:before, .theme-color a .head:before {
    width: 60%;
    right: 0;
}
.theme-color a .cont:after, .theme-color a .cont:before, .theme-color a .head:after, .theme-color a .head:before {
    content: "";
    height: 100%;
    display: inline-block;
    position: absolute;
}
.theme-color a .cont:after, .theme-color a .head:after {
    width: 40%;
    left: 0;
}
.theme-color a .cont {
    height: 40px;
}
.theme-color a .cont:after, .theme-color a .head:after {
    width: 40%;
    left: 0;
}
/**************************************
			7. PROGRESS BAR
            ***************************************/
            .progress {
                border: 0;
                background-image: none;
                filter: none;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                height: 8px;
                border-radius: 0!important;
                margin: 0;
            }
            .progress-bar-success {
                background-color: #36c6d3;
            }
            .progress-bar-warning {
                background-color: #f0ad4e;
            }
            .progress-bar-danger {
                background-color: #d9534f;
            }
            .work-monitor .states {
                width: 90%;
            }
            .progress-line {
                background: #e7ecf1;
            }
            .work-monitor .states .info {
                display: inline-block;
                width: 100%;
                font-size: 15px;
                margin: 10px 0 0 0;
                font-weight: 500;
            }

            .progress.progress-sm {
                height: 8px;
            }

            .work-monitor .title {
                margin: 0 0 40px 0;
            }


            .fa-angle-down:before {
                content: "\f107";
            }
            section.panel.tab-border {
                border: 1px solid #e5e5e5;
            }
            .language-switch a {
                color: #1E2629;
            }
            .notification-label {
                float: right;
                border-radius: 10px;
                padding: 0px 10px;
                color: #fff;
            }

            .task-body .list-group-item {
                border-width: 0 0 1px 0;
                margin: 0;
            }

            span.notificationtime {
                display: block;
            }
            span.online-status {
                display: block;
                margin-bottom: 0;
                padding: 0 22px;
                color: #9d9f9e;
                font-size: 11px;
                margin-top: 0px;
            }
            .addr-font-h3 {
                font-size: 24px
            }
            .addr-font-h4 {
                font-size: 18px
            }
            .close {
                display: inline-block;
                margin-top: 0;
                margin-right: 0;
                width: 9px;
                height: 9px;
                background-repeat: no-repeat!important;
                text-indent: -10000px;
                outline: 0;
                background-image: url(../img/remove-icon-small.html)!important
            }
            .help-block {
                margin-top: 5px;
                margin-bottom: 5px
            }
            .help-inline {
                font-size: 13px;
                color: #737373;
                display: inline-block;
                padding: 5px
            }
            .input-mini,
            .input-xxs {
                width: 45px!important
            }

            .state-overview .addr-font-h1 {
                font-size: 36px;
                float: left;
                width: auto;
            }
            .no-pad-left{
               padding-left: 0 !important;
           }
           .text-purple .fa-facebook {
            font-size: 20px;
        }
        .text-success .fa-twitter {
            font-size: 20px;
        }
        .text-danger .fa-instagram {
            font-size: 20px;
        }

        .app-search {
            position: relative;
        }	
        .contact-detail {
            float: left;
            width: 100%;
        }
        .contact-detail .fa {
            float: left;
            width: 30px;
            font-size: 20px;
            margin-top: 5px;
        }
        .contact-detail span {
            float: left;
            width: calc(100% - 30px);
            margin-bottom: 20px;
        }
        .contact-detail .fa-envelope {
            font-size: 15px;
        }
        .contact-detail .fa-mobile {
            font-size: 25px;
        }
        .item img {
            max-width: 100%;
        }
        .dataTables_wrapper {
            margin-top: 15px;
        }
        tr.group,
        tr.group:hover {
            background-color: #ddd !important;
        }
        .profile-userpic {
            float: left;
            width: 100%;
            text-align: center;
        }

        .selector-title{
           margin-top: 0px !important; 
           color: #000000;
       }
       .note-icon-font{
           background-color: transparent !important;
       }
       .course-likes {
        float: right;
        margin-right: 20px;
    }
    .course-picture{
       float: left;
       width: 100%;
       text-align: center;
   }
   .bg-warning{
    color: #fff;
    background-color: #ffd200;
}
.bg-success {
    background: #5FC29D;
}

.bg-orange {
    background: #E67D21;
}

.bg-blue {
    background: #3598dc;
}

.bg-purple {
    background: #8E44AD;
}

.bg-danger{
    color: #fff;
    background-color: #e55957;
}
.green-color{
	color: green;
}

.bg-danger {
    background: #e55957;
}
.bg-b-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.bg-b-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-b-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.bg-b-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.error{
    color: #7F1B24 !important;
    font-weight: bold;
    font-size: 12px;
}
.flag img {
    width: 10px;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
.hide{
    display: none !important;
}
.show{
    display: block !important;
}

.fontColorBlack{
    color: #333 !important;
}
.formColor{
    background: #F6F3D6;
    padding: 1em; 
}

#dropLabel{
    color: black;
}
.sysSelect2 {
  width: 400px !important;
}

/*.select2-search--dropdown .select2-search__field {
    margin-top: -1.5em !important;
}*/

.card-box:hover {
    -webkit-transform: none !important;
    transform: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
    margin-top: 1em !important;
}

.select2Tbl {
  width: 150px !important;
}

.card-box span {
    padding: 0px !important;
}

.card-box span{
    font-family: 'Poppins',sans-serif;
    padding-left: 5px;
}
.table-row td{
    font-size: 12px;
}
.descrip h3{
    text-align: left;
    padding-left: 5px;
}
.profile-btn a{
   margin-right:10px;
}
.profile-btn span{
    font-family: 'Poppins',sans-serif;
    padding-left: 5px;
}
.table td, .table th, .card .table td, .card .table th, .card .dataTable td, .card .dataTable th{
    padding: 3px 0px 0px 3px !important;
}
.form-control{
   /* height: 30px !important;*/
}
.form-group{
    margin-bottom: 10px !important;
}
label{
    color: #333 !important;
    margin-bottom: 0px;
}
.pw-card{
    margin: 10px auto;
    border: 1px solid #e0e0e0;
}
.btn-left-margin{
    margin-left: 10px;
    height: 46px;
}
.btn-check{
    float: right;
    margin-right: 10px;
}
.check-in-time h3{
    margin-left: 20px;
}
ul, ol {
    line-height: 14px;
}
.sidemenu-container .sidemenu>li>a>i, .sidemenu-closed.sidemenu-container-fixed .sidemenu-container:hover .sidemenu>li>a>i{
    line-height: 14px;
}
.page-header.navbar {
    max-height: 50px;
}
.page-header.navbar .page-logo{
    height: 53px;
    padding: 5px 20px 0px 30px;
}

.login100-form-logo img {
    border-radius: 0 ;
    box-shadow: none;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

.about_card{
    color: #333;
}
.scrollable{
    overflow: scroll;
}
.tableHeight250{
 height: 250px;
}

.submit{
    box-shadow: none;
}
.mdl-textfield__label{
    color: #333 !important;
    top: 0px !important;

}
.margin-left-5{
    margin-left: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
/*------------------------------------------------megaMenu Starts*/

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
 margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#6673FC!important;

}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
      padding-top:0px;
      padding-bottom:0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
      padding:.10rem .10rem;
      margin:0 .15rem;

  }

  /* makes the dropdown full width  */
  .navbar .dropdown {position:static;}

  .navbar .dropdown-menu {
      width:84.5%;
      left:0;
      right:0;
      /*  height of nav-item  */
      top:47px;

  }
  
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
      display:block!important;
  }
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);

}
}
.disableDiv{
    pointer-events: none;
    opacity: 0.7;
}
body {
    margin: 0;
    padding: 0;
}

 
  #background 
{ 
     left: 0px; 
     top: 0px; 
     position: relative; 
     margin-left: auto; 
     margin-right: auto; 
     width: 324px;
     height: 205px; 
     overflow: hidden;
     z-index:0;
     background-color: black;
    }  

 #Layer0 
{ 
     left: 493px; 
     top: 171px; 
     position: absolute; 
     height: 64px;
     z-index:1;
} 

 #Layer0_0 
{ 
     left: 0px; 
     top: -1px; 
     position: absolute; 
     
     height: 639px;
     z-index:2;
} 

 #Issuedbyborder > img
{ 
     left: 8px; 
     top: 161px; 
     position: absolute; 
     width: 96px;
     height: 27px;
     z-index:3;
} 

 #signatureborder > img
{ 
     left: 226px; 
     top: 161px; 
     position: absolute;
     width: 96px; 
     height: 27px;
     z-index:4;
} 

 #nepalgovernment > img
{ 
     left: 8px; 
     top: 5px; 
     position: absolute; 
     width: 29px;
     height: 29px;
     z-index:5;
} 

 #watermark >img
{ 
     left: 137px; 
     top: 60px; 
     position: absolute; 
     width: 116px;
     height: 94px;
     z-index:6;
} 

 #Flag > img
{ 
     left: 293px; 
     top: 5px; 
     position: absolute;
     width: 29px; 
      height: 29px;
     z-index:7;
} 

 #map > img 
{ 
     left: 138px; 
     top: 161px; 
     position: absolute;
     width: 50px; 
         height: 24px;
     z-index:8;
} 

 #signature > img
{ 
     left: 24px; 
     top: 165px; 
     position: absolute;
     width: 66px; 
     height: 20px;
     z-index:9;
} 

 #signature_0 > img
{ 
    left: 275px;
    top: 160px;
    position: absolute;
    width: 40px;
    height: auto;
    z-index: 5;
} 

 #Picture > img
{ 
     left: 8px; 
     top: 61px; 
     position: absolute; 
     width: 80px;
     height: 80px;
     z-index:11;
} 

 #Smartidentitycard > img 
{ 
     left: 78px; 
     top: 24px; 
     position: absolute;
     width: 177px; 
     height: 8px;
     z-index:12;
} 

 #CardNo010600045334 > p
{ 
     left: 8px; 
     top: 37px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:13;
} 

 #IssuedBy > img
{ 
     left: 33px; 
     top: 189px; 
     position: absolute; 
     width: 55px;
     height: 13px;
     z-index:15;
} 

 #SignatureofHolder > img
{ 
     left: 237px; 
    top: 189px; 
     position: absolute; 
     width: 79px;
     height: 13px;
     z-index: 15;
} 

 #Governmentofnepal > img
{ 
     left: 48px; 
     top: 9px; 
     position: absolute; 
     width: 236px;
    height: 13px;
     z-index:18;
} 

 #NameRAMBAHADURSHARMA > p
{ 
     left: 120px; 
     top: 37px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:19;
} 

 #DOB09061990 > p
{ 
     left: 120px; 
     top: 81px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:20;
} 

 #FHNameHariSharma > p
{ 
     left: 120px; 
     top: 96px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:21;
} 

 #CitizenshipNo2803065 > p
{ 
     left: 120px; 
     top: 110px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:22;
} 

 #PassportNo2803065986 > p
{ 
     left: 120px; 
     top: 125px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:23;
} 

 #PhoneNo9812345678 > p
{ 
     left: 120px; 
     top: 140px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:24;
} 

 #AddressBaneshowr06 > p
{ 
     left: 120px; 
     top: 50px; 
     position: absolute; 
     font-size: 10px;
     font-weight: bold;
     z-index:25;
} 
#location{
    padding-left: 25px;
}
/*Kshitiz Added CSS Starts here*/
.sifarish_btn{
    padding-left: 10px;    
}

.sifarish_btn button{
    height: 40px;
    font-family:'Poppins',sans-serif;

}
.show li a >span {
    color: #ffffff;
}
/*.show i{
    color: #ffffff;

Removed beauce of model title text color

}*/
textarea{
    height: 140px !important;
}
/*Kshitiz Added CSS Ends here*/
@media screen {

}

@media print {
    .sifarish_head{
        margin-left:-60px;
    }
   
    select {
      background: none;
      border: none;
      background-image:none !important;
      text-indent: 1px;
      text-overflow: '';

      -webkit-appearance: none;
      appearance: none;
    }
    select::-ms-expand {    display: none; }


    .content-para p {
      font-size: 12px;
    }

   b{
       align:center;
       font-size:14px;

   }

   .bibaran{
       display: none;
   }

   #govLogo{
       width: 160px !important;
       height: auto;
   }

   hr{
       background-color: none;
       border: none;
   }
   .table_btn {
    display: none;
   }
    .letter_head{
        display: none;
    }
    .x_content{
        padding-top:200px !important;
    }
   }
@media screen, print {


}

.fontColorRed{
    color: #EC3509;
}
.fontColorSuccess{
    color: #12A214;
}
.card-body{color: black !important}  

/*select to use*/
.select2-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(#eee));
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#ccc));
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee));
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#fff));
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: #fff;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}